---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: multus-servers
  namespace: kube-system
spec:
  config: |-
    {
      "cniVersion": "0.3.1",
      "name": "multus-servers",
      "plugins": [
        {
          "type": "macvlan",
          "master": "eth0",
          "mode": "bridge",
          "capabilities": {
            "ips": true
          },
          "ipam": {
            "type": "static",
            "routes": [
              { "dst": "192.168.214.0/24", "gw": "172.16.30.1" },
              { "dst": "172.16.10.0/24", "gw": "172.16.30.1" },
              { "dst": "172.16.11.0/28", "gw": "172.16.30.1" },
              { "dst": "172.16.20.0/25", "gw": "172.16.30.1" }
            ]
          }
        }
      ]
    }
