---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: unifi
  namespace: networking
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: unifi
      version: 5.1.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: jacobalberty/unifi
      tag: v7.5.176
    persistence:
      data:
        enabled: true
        existingClaim: unifi-config-v1
    podAnnotations:
      backup.velero.io/backup-volumes: data
    env:
      timezone: Europe/Moscow
      RUNAS_UID0: 'true'
      # -- Specify the user ID the application will run as
      UNIFI_UID: '999'
      # -- Specify the group ID the application will run as
      UNIFI_GID: '999'
      JVM_INIT_HEAP_SIZE:
      JVM_MAX_HEAP_SIZE: 1024M
      PORTAL_HTTPS_PORT: '443'
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          kubernetes.io/tls-acme: 'true'
          cert-manager.io/cluster-issuer: letsencrypt-prod
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
          nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16, 77.37.244.8/32, 94.141.170.143/32
        hosts:
          - host: unific.ur30.ru
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: unific-ur30-ru
            hosts:
              - unific.ur30.ru
      portal:
        enabled: true
        ingressClassName: nginx
        annotations:
          kubernetes.io/tls-acme: 'true'
          cert-manager.io/cluster-issuer: letsencrypt-prod
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
          nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16, 77.37.244.8/32, 94.141.170.143/32
        hosts:
          - host: unifiportal.ur30.ru
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: unifi
                  port: 443
        tls:
          - secretName: unifiportal-ur30-ru
            hosts:
              - unifiportal.ur30.ru
    service:
      main:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/allow-shared-ip: unifi
        loadBalancerIP: 192.168.40.7
        externalTrafficPolicy: Local
        ports:
          portal-https:
            enabled: true
            port: 443
          stun:
            enabled: true
          syslog:
            enabled: true
          discovery:
            enabled: true
    resources:
      requests:
        memory: 750Mi
        cpu: 15m
      limits:
        memory: 1000Mi
