---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name externaldns-internal
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns-charts
        namespace: flux-system
      interval: 30m

  values:
    fullnameOverride: *name
    podAnnotations:
      secret.reloader.stakater.com/reload: externaldns-internal-secrets
    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
    domainFilters:
      - home
      - glants.xyz
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.0
        env:
          - name: LOG_LEVEL
            value: debug
          - name: ADGUARD_URL
            value: http://172.16.30.1:3000
          - name: ADGUARD_USER
            value: adguard
          - name: ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: externaldns-internal-secrets
                key: password
    serviceMonitor:
      enabled: true

    sources:
      - ingress
      - service
    txtPrefix: k8s.
    txtOwnerId: berries
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
