---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kea-dhcp
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.glants.xyz
      chart: kea-dhcp
      version: 0.6.1
      sourceRef:
        kind: HelmRepository
        name: mglants-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: smailkoz/kea-dhcp
      tag: 2.1.2
    replicaCount: 1
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
    env:
      TZ: Europe/Moscow
    service:
      dhcp:
        type: LoadBalancer
        loadBalancerIP: 192.168.40.2
    podAnnotations:
      secret.reloader.stakater.com/reload: kea-helm-values
      configmap.reloader.stakater.com/reload: kea-dhcp
    kea:
      dhcp4:
        enabled: true
        validlifetime: '4000'
        renewtimer: '1000'
        rebindtimer: '2000'
        loglevel: DEBUG
        options:
          - name: domain-name-servers
            data: 192.168.40.3
          - name: domain-name
            data: ur30.ru
          - name: domain-search
            data: ur30.ru, home.arpa
          - name: tftp-server-name
            data: 192.168.48.200
            code: 66
        subnets:
          # HOME POOL
          - subnet: 192.168.0.0/23
            pools:
              - pool: 192.168.0.1 - 192.168.0.255
            option-data:
              - name: routers
                data: 192.168.1.1
          # DMZ POOL
          - subnet: 192.168.3.0/24
            pools:
              - pool: 192.168.3.20 - 192.168.3.254
            option-data:
              - name: routers
                data: 192.168.3.1
          # IOT POOL
          - subnet: 192.168.4.0/24
            pools:
              - pool: 192.168.4.10 - 192.168.4.199
            option-data:
              - name: routers
                data: 192.168.4.1
          # GUEST POOL
          - subnet: 192.168.5.0/24
            pools:
              - pool: 192.168.5.10 - 192.168.5.199
            option-data:
              - name: routers
                data: 192.168.5.1
          # K8s Pool
          - subnet: 192.168.30.0/24
            pools:
              - pool: 192.168.30.2 - 192.168.30.250
            option-data:
              - name: routers
                data: 192.168.30.1
      dhcp6:
        enabled: false
      ddns:
        enabled: true
        loglevel: DEBUG
        forward:
          ddns-domains:
            - name: home.arpa.
              key-name: ''
              dns-servers:
                - ip-address: 192.168.40.14
                  port: 53
        reverse:
          ddns-domains:
            - name: 168.192.in-addr.arpa.
              key-name: ''
              dns-servers:
                - ip-address: 192.168.40.14
                  port: 53
      ctrlagent:
        # Needed for HA, monitoring and stork
        enabled: true
        loglevel: DEBUG
    persistence:
      enabled: false
    metrics:
      enabled: true
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - kea-dhcp
            topologyKey: kubernetes.io/hostname
  valuesFrom:
    - kind: Secret
      name: kea-helm-values
      valuesKey: reservations.yaml
      optional: false
