---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: volsync
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: volsync
      version: 0.7.1
      sourceRef:
        kind: HelmRepository
        name: backube-charts
        namespace: flux-system
      interval: 30m
  values:
    manageCRDs: true
    image:
      repository: zimbres/volsync
    metrics:
      disableAuth: true
