---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vikunja
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      vikunja:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: docker.io/vikunja/vikunja
              tag: 1.1.0
            env:
              VIKUNJA_DATABASE_TYPE: sqlite
              VIKUNJA_DATABASE_PATH: /db/vikunja.db
              VIKUNJA_FILES_BASEPATH: /files
              VIKUNJA_SERVICE_ENABLECALDAV: false
              VIKUNJA_SERVICE_ENABLELINKSHARING: false
              VIKUNJA_SERVICE_ENABLEREGISTRATION: false
              VIKUNJA_SERVICE_PUBLICURL: https://vikunja.glants.xyz/
              VIKUNJA_AUTH_OPENID_ENABLED: true
              VIKUNJA_AUTH_OPENID_PROVIDERS_SSO_NAME: SSO
              VIKUNJA_AUTH_OPENID_PROVIDERS_SSO_AUTHURL: https://authentik.glants.xyz/application/o/vikunja/
              VIKUNJA_AUTH_OPENID_PROVIDERS_SSO_LOGOUTURL: https://authentik.glants.xyz/application/o/vikunja/end-session/
              VIKUNJA_AUTH_OPENID_PROVIDERS_SSO_CLIENTID: vikunja
            envFrom:
              - secretRef:
                  name: vikunja-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 5m
                memory: 192Mi
              limits:
                memory: 1024Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: vikunja
        ports:
          http:
            port: 3456

    ingress:
      app:
        className: "external-nginx"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          external-dns.alpha.kubernetes.io/target: ingress.ur30.ru
        hosts:
          - host: vikunja.glants.xyz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: vikunja-tls
            hosts:
              - vikunja.glants.xyz
    persistence:
      data:
        existingClaim: vikunja-data-v1
        advancedMounts:
          vikunja:
            app:
              - path: /db
                subPath: db
              - path: /files
                subPath: files
