---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-bedrock-survival
  namespace: games
spec:
  chart:
    spec:
      # renovate: registryUrl=https://itzg.github.io/minecraft-server-charts/
      chart: minecraft-bedrock
      version: 2.8.4
      sourceRef:
        kind: HelmRepository
        name: itzg-charts
        namespace: flux-system
  interval: 5m
  install:
    remediation:
      retries: 3
  test:
    # Fix problem where helm fails to uninstall
    enable: false
  # Default values
  # https://github.com/itzg/minecraft-server-charts/blob/master/charts/minecraft-bedrock/values.yaml
  values:
    image:
      repository: itzg/minecraft-bedrock-server
      tag: 2025.11.0
    minecraftServer:
      serverName: Bedrock Server
      eula: 'TRUE'
      version: LATEST
      gameMode: survival
      memory: 2048M
      serviceType: LoadBalancer
      loadBalancerIP: 192.168.40.12
    persistence:
      dataDir:
        enabled: true
        existingClaim: minecraft-bedrock-v1
    resources:
      requests:
        memory: 2048Mi
        cpu: 250m
      limits:
        memory: 3072Mi
    serviceAnnotations: {}
