---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: xteve
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: xteve
      version: 8.4.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      # -- image repository
      repository: ghcr.io/k8s-at-home/xteve
      # -- image tag
      tag: v2.2.0.200
      # -- image pull policy
      pullPolicy: IfNotPresent
    env:
      TZ: Europe/Moscow
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: 192.168.40.6
        annotations:
          metallb.universe.tf/allow-shared-ip: deluge
        ports:
          http:
            port: 34400
    ingress:
      main:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16
          external-dns.alpha.kubernetes.io/type: internal
        ingressClassName: nginx
        hosts:
          - host: xteve.ur30.ru
            paths:
              - path: /
                pathType: Prefix
    persistence:
      config:
        enabled: true
        existingClaim: xteve-config-v1
