---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uisp
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controllers:
      main:
        replicas: 1
        strategy: Recreate

        annotations:
          reloader.stakater.com/auto: 'true'

        pod:
          securityContext:
            fsGroup: 911

        containers:
          main:
            image:
              repository: nico640/docker-unms
              tag: 2.4.175
            env:
              TZ: Europe/Moscow
            resources:
              requests:
                cpu: 500m
                memory: 512M
              limits:
                cpu: 1000m
                memory: 2048M

    service:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: uisp.ur30.ru
          external-dns.alpha.kubernetes.io/type: internal
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: 192.168.40.13
        ports:
          http:
            port: 80
          https:
            port: 443
          netflow:
            port: 2055
            protocol: UDP

    ingress:
      main:
        enabled: true
        className: external-nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          external-dns.alpha.kubernetes.io/target: ingress.ur30.ru
          nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16
          external-dns.alpha.kubernetes.io/type: internal
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        hosts:
          - host: &host uispc.ur30.ru
            paths:
              - path: /
                service:
                  name: main
                  port: https
        tls:
          - hosts:
              - *host
            secretName: uispc-ur30-ru-tls

    persistence:
      config:
        enabled: true
        existingClaim: uisp-config-v1
        advancedMounts:
          main:
            main:
              - path: /config
