---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: uptime-kuma
  namespace: monitoring
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: uptime-kuma
      version: 1.4.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: louislam/uptime-kuma
      pullPolicy: IfNotPresent
      tag: 1.23.7
    env:
      TZ: Europe/Moscow
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: status.ur30.ru
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: uptime-kuma-crt
            hosts:
              - status.ur30.ru
    persistence:
      data:
        enabled: true
        existingClaim: uptime-kuma-data-v1
