---
apiVersion: v1
kind: ConfigMap
metadata:
  name: netbox-sso-cm
  namespace: apps
data:
  authentik.py: |-
    from os import environ

    SOCIAL_AUTH_OIDC_ENDPOINT = environ.get('SOCIAL_AUTH_OIDC_ENDPOINT')
    SOCIAL_AUTH_OIDC_KEY = environ.get('SOCIAL_AUTH_OIDC_KEY')
    SOCIAL_AUTH_OIDC_SECRET = environ.get('SOCIAL_AUTH_OIDC_SECRET')
    LOGOUT_REDIRECT_URL = environ.get('LOGOUT_REDIRECT_URL')
  custom_pipeline.py: |-
    from django.contrib.auth.models import Group

    class AuthFailed(Exception):
        pass

    def add_groups(response, user, backend, *args, **kwargs):
        try:
            groups = response['groups']
        except KeyError:
            pass

        # Add all groups from oAuth token
        for group in groups:
            group, created = Group.objects.get_or_create(name=group)
            group.user_set.add(user)

    def remove_groups(response, user, backend, *args, **kwargs):
        try:
            groups = response['groups']
        except KeyError:
            # Remove all groups if no groups in oAuth token
            user.groups.clear()
            pass

        # Get all groups of user
        user_groups = [item.name for item in user.groups.all()]
        # Get groups of user which are not part of oAuth token
        delete_groups = list(set(user_groups) - set(groups))

        # Delete non oAuth token groups
        for delete_group in delete_groups:
            group = Group.objects.get(name=delete_group)
            group.user_set.remove(user)


    def set_roles(response, user, backend, *args, **kwargs):
        # Remove Roles temporary
        user.is_superuser = False
        user.is_staff = False
        try:
            groups = response['groups']
        except KeyError:
            # When no groups are set
            # save the user without Roles
            user.save()
            pass

        # Set roles is role (superuser or staff) is in groups
        user.is_superuser = True if 'superusers' in groups else False
        user.is_staff = True if 'staff' in groups else False
        user.save()
