---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mautrix-telegram-data-v1
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: freenas-iscsi-csi
  resources:
    requests:
      storage: 5Gi
