---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name authentik-secret
  namespace: apps
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # authentik
        SECRET_KEY: '{{ .SECRET_KEY }}'
        # smtp
        SMTP_HOST: '{{ .SMTP_HOST }}'
        SMTP_USERNAME: '{{ .SMTP_USERNAME }}'
        SMTP_PASSWORD: '{{ .SMTP_PASSWORD }}'
  dataFrom:
    - extract:
        key: authentik
    - extract:
        key: smtp
