---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: authentik
  namespace: infra
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      # renovate: registryUrl=https://charts.goauthentik.io
      chart: authentik
      version: 2023.10.2
      sourceRef:
        kind: HelmRepository
        name: authentik-charts
        namespace: flux-system
      interval: 5m
  values:
    replicas: 1
    worker:
      replicas: 1
    image:
      repository: ghcr.io/goauthentik/server
      tag: 2023.10.2

    envValueFrom:
      AUTHENTIK_SECRET_KEY:
        secretKeyRef:
          name: authentik-secret
          key: SECRET_KEY
      AUTHENTIK_EMAIL__USERNAME:
        secretKeyRef:
          name: authentik-secret
          key: SMTP_USERNAME
      AUTHENTIK_EMAIL__PASSWORD:
        secretKeyRef:
          name: authentik-secret
          key: SMTP_PASSWORD
      AUTHENTIK_POSTGRESQL__HOST:
        secretKeyRef:
          name: authentik-pgsql-pguser-authentik
          key: host
      AUTHENTIK_POSTGRESQL__NAME:
        secretKeyRef:
          name: authentik-pgsql-pguser-authentik
          key: dbname
      AUTHENTIK_POSTGRESQL__USER:
        secretKeyRef:
          name: authentik-pgsql-pguser-authentik
          key: user
      AUTHENTIK_POSTGRESQL__PASSWORD:
        secretKeyRef:
          name: authentik-pgsql-pguser-authentik
          key: password

    authentik:
      error_reporting:
        enabled: true

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: ingress.ur30.ru
      email:
        host: mail.ur30.ru
        port: 465
        from: authentik@gearage.ru
        use_ssl: true
        timeout: 30
      hosts:
        - host: authentik.gearage.ru
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: authentik-tls
          hosts:
            - authentik.gearage.ru
    volumes:
      - name: public
        nfs:
          server: 192.168.48.150
          path: /mnt/Storinator/Public
    volumeMounts:
      - name: public
        mountPath: /public
    postgresql:
      enabled: false
    redis:
      enabled: true
