---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: sonarr
      version: 16.3.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/onedr0p/sonarr
      tag: 4.0.1.929
      # -- image pull policy
      pullPolicy: IfNotPresent
    podSecurityContext:
      fsGroup: 568
    env:
      TZ: Europe/Moscow
    service:
      main:
        ports:
          http:
            port: 8989
    ingress:
      main:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.0.0/16
          kubernetes.io/ingress.class: nginx
          external-dns.alpha.kubernetes.io/type: internal
        hosts:
          - host: sonarr.ur30.ru
            paths:
              - path: /
                pathType: Prefix
    persistence:
      config:
        enabled: true
        mountPath: /config
        existingClaim: sonarr-config-v1
      media:
        enabled: true
        existingClaim: nfs-public-pvc
        mountPath: /media
    podAnnotations:
      backup.velero.io/backup-volumes: config
      setGateway: 'true'
