---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &name externaldns-internal
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.13.1
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns-charts
        namespace: flux-system
      interval: 30m

  values:
    fullnameOverride: *name

    domainFilters:
      - ur30.ru
    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --annotation-filter=external-dns.alpha.kubernetes.io/type notin (external)
    env:
      - name: EXTERNAL_DNS_RFC2136_HOST
        value: 192.168.40.14
      - name: EXTERNAL_DNS_RFC2136_PORT
        value: '53'
      - name: EXTERNAL_DNS_RFC2136_ZONE
        value: ur30.ru
      - name: EXTERNAL_DNS_RFC2136_TSIG_AXFR
        value: 'true'
      - name: EXTERNAL_DNS_RFC2136_INSECURE
        value: 'true'

    policy: sync
    provider: rfc2136

    serviceMonitor:
      enabled: true

    sources:
      - ingress
      - service
      - crd
    txtPrefix: k8s.
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
