---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: discord-webhook-url
  namespace: flux-system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: discord-webhook-url
    creationPolicy: Owner
  data:
    - secretKey: address
      remoteRef:
        key: flux
        property: DISCORD_HTTP_WEBHOOK
