---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
  namespace: smarthome
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: esphome
      version: 8.3.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      # -- image repository
      repository: esphome/esphome
      # -- image pull policy
      pullPolicy: IfNotPresent
      # -- image tag
      tag: 2022.6.2

    # -- environment variables.
    # @default -- See below
    env:
      ESPHOME_DASHBOARD_USE_PING: true
      # ESPHOME_DASHBOARD_RELATIVE_URL: "/"
      # ESPHOME_QUICKWIZARD:
      # ESPHOME_IS_HASSIO:
      # DISABLE_HA_AUTHENTICATION:
      # USERNAME:
      # PASSWORD:

    # -- Configures service settings for the chart.
    # @default -- See values.yaml
    service:
      main:
        ports:
          http:
            port: 6052

    ingress:
      # -- Enable and configure ingress settings for the chart under this key.
      # @default -- See values.yaml
      main:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: 192.168.214.0/24, 10.13.12.0/24
          kubernetes.io/ingress.class: nginx
        hosts:
          - host: esphome.home
            paths:
              - path: /
                pathType: Prefix

    # -- Configure persistence settings for the chart under this key.
    # @default -- See values.yaml
    persistence:
      config:
        enabled: true
        existingClaim: esphome-config-v1
