---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: spegel
      version: 0.5.1
      sourceRef:
        kind: HelmRepository
        name: spegel-charts
        namespace: flux-system
      interval: 30m
  values:
    spegel:
      appendMirrors: true
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
