---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &name externaldns-external
  namespace: networking
spec:
  interval: 5m
  timeout: 10m0s
  chart:
    spec:
      # renovate: registryUrlhttps://charts.bitnami.com/bitnami
      chart: external-dns
      version: 6.28.6
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
      interval: 5m
  values:
    fullnameOverride: *name
    # https://artifacthub.io/packages/helm/bitnami/external-dns?modal=values
    image:
      registry: docker.io
      repository: bitnami/external-dns
      tag: 0.14.0
    sources:
      - crd
      - service
      - ingress
    provider: cloudflare
    annotationFilter: external-dns.alpha.kubernetes.io/type notin (internal)
    cloudflare:
      proxied: false
    crd:
      apiversion: externaldns.k8s.io/v1alpha1
      kind: DNSEndpoint
  valuesFrom:
    - targetPath: cloudflare.apiToken
      kind: Secret
      name: externaldns-external-secret
      valuesKey: cloudflare
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |-
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
