---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: externaldns-external
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns-charts
        namespace: flux-system
      interval: 30m

  values:
    fullnameOverride: &name externaldns-external
    annotationFilter: external-dns.alpha.kubernetes.io/type notin (internal,authentik)
    domainFilters:
      - glants.xyz
      - ur30.ru
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: externaldns-external-secrets
            key: cloudflare_api_token

    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --ingress-class=external-nginx

    podAnnotations:
      secret.reloader.stakater.com/reload: externaldns-external-secrets

    policy: sync
    provider: cloudflare

    resources:
      requests:
        cpu: 13m
        memory: 42M
      limits:
        memory: 42M

    serviceMonitor:
      enabled: true

    sources:
      - ingress
      - crd
      - service
    txtOwnerId: default
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |-
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
