---
apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: &name synapse-pgsql
  namespace: matrix
spec:
  postgresVersion: 15
  # dataSource:
  #   pgbackrest:
  #     stanza: db
  #     configuration:
  #       - secret:
  #           name: pgo-s3-creds
  #     global:
  #       repo1-path: /synapse/repo1
  #       repo1-s3-uri-style: path
  #       repo1-storage-port: '9000'
  #     repo:
  #       name: repo1
  #       s3:
  #         bucket: crunchy-postgres
  #         endpoint: nas.ur30.ru
  #         region: us-east-1
  patroni:
    dynamicConfiguration:
      bootstrap:
        initdb:
          - encoding=C
          - locale=C
      synchronous_mode: true
      postgresql:
        synchronous_commit: on
        pg_hba:
          - hostnossl all all 10.244.0.0/16 md5
          - hostssl all all all md5
        parameters:
          max_connections: &connections "500"
  instances:
    - name: postgres
      replicas: &replica 2
      dataVolumeClaimSpec:
        storageClassName: freenas-iscsi-csi
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 30Gi
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: "DoNotSchedule"
          labelSelector:
            matchLabels:
              postgres-operator.crunchydata.com/cluster: *name
              postgres-operator.crunchydata.com/data: postgres

  users:
    - name: synapse
      databases:
        - synapse
      options: SUPERUSER
      password:
        type: AlphaNumeric
    - name: telegram
      databases:
        - telegram
      options: SUPERUSER
      password:
        type: AlphaNumeric
    - name: gmessages
      databases:
        - gmessages
      options: SUPERUSER
      password:
        type: AlphaNumeric
  backups:
    pgbackrest:
      configuration:
        - secret:
            name: pgo-s3-creds
      global:
        archive-push-queue-max: 4GiB
        repo1-retention-full: '14'
        repo1-retention-full-type: time
        repo1-path: /synapse/repo1
        repo1-s3-uri-style: path
        repo1-storage-port: '30002'
      manual:
        repoName: repo1
        options:
          - --type=full
      repos:
        - name: repo1
          schedules:
            full: 0 1 * * 0
            differential: 0 1 * * 1-6
          s3:
            bucket: crunchy-postgres
            endpoint: nas.ur30.ru
            region: us-east-1
  proxy:
    pgBouncer:
      port: 5432
      replicas: *replica
      metadata:
        labels:
          app.kubernetes.io/name: crunchy-postgres-pgbouncer
      config:
        global:
          pool_mode: session
          client_tls_sslmode: prefer
          default_pool_size: "100"
          max_client_conn: *connections
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: "DoNotSchedule"
          labelSelector:
            matchLabels:
              postgres-operator.crunchydata.com/cluster: *name
              postgres-operator.crunchydata.com/role: "pgbouncer"
