---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-config-v1
  namespace: apps
  labels:
    kasten.io/backup-volume: enabled
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: freenas-iscsi-csi
  resources:
    requests:
      storage: 4Gi
