---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: opencloud
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: opencloud-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        WEB_OIDC_CLIENT_ID: '{{ .WEB_OIDC_CLIENT_ID }}'
        STORAGE_USERS_DECOMPOSEDS3_ACCESS_KEY: '{{ .AWS_ACCESS_KEY_ID }}'
        STORAGE_USERS_DECOMPOSEDS3_SECRET_KEY: '{{ .AWS_SECRET_ACCESS_KEY }}'
  dataFrom:
    - extract:
        key: opencloud
