---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opencloud-data-v1
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: freenas-iscsi-csi
  resources:
    requests:
      storage: 1Gi
