---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-openwrt-custom
spec:
  interval: 30m
  chart:
    spec:
      chart: actions-runner-controller-charts/gha-runner-scale-set
      version: 0.13.0
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller-charts
        namespace: flux-system
      interval: 30m

  values:
    runnerScaleSetName: arc-runner-set-openwrt-custom

    githubConfigUrl: https://github.com/mglants/openwrt-custom

    minRunners: 1
    maxRunners: 6

    containerMode:
      type: dind

    controllerServiceAccount:
      name: actions-runner-controller-gha-rs-controller
      namespace: dev

    listenerTemplate:
      metadata:
        labels:
          app.kubernetes.io/name: arc-containers-listener
      spec:
        containers: []

    template:
      metadata:
        labels:
          app.kubernetes.io/name: arc-containers-runner
      spec:
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.330.0
            command: [/home/runner/run.sh]

  valuesFrom:
    - kind: Secret
      name: actions-runner-controller-auth
      valuesKey: github_app_id
      targetPath: githubConfigSecret.github_app_id
    - kind: Secret
      name: actions-runner-controller-auth
      valuesKey: github_app_installation_id
      targetPath: githubConfigSecret.github_app_installation_id
    - kind: Secret
      name: actions-runner-controller-auth
      valuesKey: github_app_private_key
      targetPath: githubConfigSecret.github_app_private_key
