---
name: release raspberrypi4-uefi

on:
  push:
    paths:
      - .github/workflows/release-rpi4-uefi.yaml
      - custom/raspberrypi4-uefi/**

jobs:
  build-publish:
    runs-on:
      - ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: login ghcr
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/raspberrypi4-uefi
          tags: |
            type=sha

      - name: build and push to ghcr
        uses: docker/build-push-action@v5
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          context: ./custom/raspberrypi4-uefi
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
